page-detail {
    .card-title {
        display: block;
        font-size: 18px;
        color: rgb(66, 12, 12);

    }
    .image-hero {
        width: 100%;
    }
    .card-background-page {
        .comics {
            text-align: center;
            width: 25%;
            float: left;
            img {
                height: 120px;
            }
        }
        
        .card-md {
            border-radius: 0px;
            margin: 4px;
            width: auto;
        }
        .card-title {
            
            font-size: 12px;
            font-weight: bold;
            color: rgb(153, 8, 8);
        }
    }
}
